#organizationList {
    text-align: left;
    margin-top: 25vh;
    .organizationSelect {
        text-align: left;
    }
    #largeTextInput {
        font-size: 30px;
        max-width: 720px;
        padding-bottom: 15px;
        input: {
            font-size: 30px;
        }
        .mainInput {
            width: calc(100% - 50px)
        }
        #enterNext {
            font-size: 20px;
            margin: 5px;
        }
    }
}