input[type="text"], select {
  width: auto !important;
  max-width: 350px !important;
  padding: 0px 10px !important;
  margin: 0px !important;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: auto;
}
