$basicLinePadding: 8px;

body {
	margin: 0;
	font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// default
	h1,
	h2,
	h1,
	h2,
	h3,
	h4,
	p {
		font-style: normal;
		font-weight: normal;
		letter-spacing: 0.01em;
		transition: 0.2s ease-out;
	}

	p {
		font-size: 16px;
		line-height: auto;
		margin: 0px;
	}

	h1 {
		font-size: 40px;
		line-height: 40px + $basicLinePadding;
	}
	h2 {
		font-size: 30px;
		line-height: 30px + $basicLinePadding;
	}
	h3 {
		font-size: 25px;
		line-height: 25px + $basicLinePadding;
	}
	h4 {
		font-size: 20px;
		line-height: 25px + $basicLinePadding;
	}
	h5 {
		font-size: 18px;
		line-height: 18px + $basicLinePadding;
	}

	a {
		color: inherit;
		transition: 0.1s ease-out !important;
	}
	a:hover {
		color: inherit;
		text-decoration: none;
	}

	input {
		border: 1px solid grey;
		padding: 3px 10px;
		width: auto;
	}
	input:focus {
		border-color: $munco-green;
	}
	label {
		margin-left: 5px;
	}

	blockquote {
		display: block;
		font-family: "nyt-imperial", georgia, "times new roman", times, serif !important;
		font-size: 20px;
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 40px;
		margin-right: 40px;
	}

	.social-icon {
		margin-left: 5px;
		margin-right: 5px;
	}

	.section-title {
		margin-top: 2em;
		margin-bottom: 1.5em;
	}

	.lightText {
		color: $light-grey;
	}
	.blueText {
		color: $munco-blue !important;
	}
	.errorText {
		color: red !important;
	}

	.darkText {
		color: $dark-grey !important;
	}

	.neutralText {
		color: $neutral-grey !important;
	}

	.miniText {
		font-size: 12px;
		line-height: 12px;
		margin-top: 0px !important;
	}

	.pStyleDiv {
		font-size: 16px !important;
		line-height: auto ;
		margin: 0px;
	}

	.h1StyleDiv {
		font-size: 40px !important;
		line-height: 40px + $basicLinePadding !important;
		margin-bottom: 5px;
	}
	.h2StyleDiv {
		font-size: 30px !important;
		line-height: 30px + $basicLinePadding !important;
		margin-bottom: 5px;
	}
	.h3StyleDiv {
		font-size: 25px !important;
		line-height: 25px + $basicLinePadding !important;
		margin-bottom: 5px;
	}

	.inline {
		display: inline !important;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

input[type="text"],
select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type="radio"] {
	padding-top:0px;
	margin-top: 15px;
	margin-right: 5px;
}
